*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heading{
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: #7bd1ed;
	margin: 2em;
	border-radius:20px ;
}

.wrap{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: lightred;
}

.name{
	grid-column: span 2;
	text-align: center;
}

.name-input{
	grid-column: span 1;
	text-align: center;
}

.question-input{
	grid-column: span 4;
	text-align: center;
	padding: 1em;

}

.question{
	display: grid;
	grid-template-columns: 25em 25em 20em 20em;
	
}
.question-enter{
	grid-column: span 2;
}

.answer-input .submit-btn{
	grid-column: span 1;
}

.question-option{
	display: grid;
	grid-template-columns: 20em 20em;

	
}

